@model AllViewModel

@{
    ViewData["Title"] = "All";
}

<h1>∀ Measurement</h1>

<p><a asp-action="Add">+ Measurement</a></p>

@if (Model.AllMeasurement.Count > 0)
{
    @if (TempData.Keys.Contains("Message"))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["Message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>SYS/DIA</td>
                <td>CATEGORY</td>
                <!-- <td>POSITION</td> -->
                <td>DATE</td>
                <td>CRUD</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var measurement in Model.AllMeasurement)
            {
                <tr>
                    <td>@measurement.Systolic/@measurement.Diastolic</td>
                    <td>@measurement.Category</td>
                    <td>@measurement.Date?.ToShortDateString()</td>
                    <td>
                        <p><a class="link-primary" asp-action="Edit" asp-route-measurementID="@measurement.MeasurementID">Edit</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="link-primary" asp-action="Delete" asp-route-measurementID="@measurement.MeasurementID">Delete</a></p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger" role="alert">
        ∅ Measurment, <a asp-action="Add">+</a>!
    </div>
}